import React from 'react';
//import {  } from 'react';
//import { ComponentName } from './_{{ createFilename name }}.styled'; 

const {{ name }}: React.FC = () => {
  return(
    <div>
      <div>{{ name }}</div>
    </div>
  )
};

export default {{ name }};